
.carousel {
	margin-top: 30px;
	text-align: center;
	background-color: $color-brand;
	position: relative;

	&__item-inner {
		min-height: 640px;

		& p {
			position: absolute;
		    bottom: 100px;
		    background: #f8f7f6f2;
		    max-width: 580px;
		    padding: 1.2rem;
		    margin: 0 auto;
		    left: 0;
		    right: 0;
		}
	}

	&__controls {
		@include absolute(right 0 bottom 15px left 0);
	}

	&__indicators {
		display: inline-block;
		padding: 0 3px;
	}

	&__controls-arrow {
		display: inline-block;
		&--left {
			&:before {
				content: '';
			    display: block;
			    overflow: hidden;
			    border-top: 6px solid transparent;
			    border-right: 10px solid #FFFFFF;
			    border-bottom: 6px solid transparent;
			}
		}
		&--right {
			&:before {
				content: '';
			    display: block;
			    overflow: hidden;
			    border-top: 6px solid transparent;
			    border-left: 10px solid #FFFFFF;
			    border-bottom: 6px solid transparent;
			}
		}
	}

}

.carousel-inner {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.carousel-inner > .item {
	position: relative;
	display: none;
	animation: 0.5s ease-in-out;
}

.carousel-inner > .active,
.carousel-inner > .next {
	display: block;
}

.carousel-inner > .next {
	position: absolute;
	top: 0;
	width: 100%;
}

.carousel-inner > .to-left {
	animation-name: left;
}

.carousel-inner > .from-right {
	animation-name: right;
}

.carousel-inner > .to-right {
	animation-name: right;
	animation-direction: reverse;
}

.carousel-inner > .from-left {
	animation-name: left;
	animation-direction: reverse;
}

.container {
	margin: 0 auto;
}
 
.carousel-control {
	 
 
	cursor: pointer;
}

.carousel-control.right {
	right: 0;
	left: auto;
}

.carousel-control > .arrow {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-size: 26px 20px;
 
 
}

.carousel-control > .arrow:hover {
 
}

 
 

.carousel-indicators li {
	display: inline-block;
	width: 12px;
	height: 12px;
	cursor: pointer;
	border: 2px solid #FFFFFF;
	border-radius: 50%;
}

.carousel-indicators li.active {
	background-color: #FFFFFF;
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

@keyframes left {
	from {
		left: 0;
	}
	to {
		left: -100%;
	}
}

@keyframes right {
	from {
		left: 100%;
	}
	to {
		left: 0;
	}
}

// ==========================================================================
// #Slider
// ==========================================================================

.slider {
	// @include susy-clearfix;
    // display: none;
    // @include media-query(medium) {
        display: block;
    // }
	
}

.slider--inner {
	// @include span(12);
}
.slider-caption {

    a {
        color: white;
        margin-left: 2px;
    }

    position: relative;
    top: 50%; 
    @include transform(translateY(-50%));
     margin-left: 120px;
    &--title {
        font-size: 49px;
        text-transform: uppercase;
        color: white;
    }
    &__info {
        display: inline-block;
        color: white;
    }
}

.slider-details {
    display: inline-block;
    margin: 10px 0 20px 0;
}

.slider-item {
        @include absolute(top 0 left 0);
        @include box(100%);
        opacity: 0;
        z-index: 1;
        color: white;
        background-size: cover;
        @include transition(opacity 1s);
}

.slider-container {
        position: relative;
        
        max-height: 210px;
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        // @include media-query(medium) {
            max-height: 610px;
            height: 400px;
        // }
        // @include media-query(large) {
            height: 450px;
        // }
}

.slider-item__title {
    // @include media-query(medium) {
    //    font-size: 2.5em;
    // }
    // @include media-query(large) {
    //     font-size: 3.0625em;
    // }
}
.m-slideShow{


    &__container{
       
        // @include mq(medium-up) {
        //     max-height: 610px;
        // }
    }

 

    &__caption {
       
    }

    &__listDetails {
        color: white;
        &__item {
            display: inline-block;
        }
    }


}



.showing{
  opacity: 1;
  z-index: 2;
}

.controls{
  display: none;
}

.slider-item:nth-of-type(1){
  background-image: url('https://images.pexels.com/photos/5317/food-salad-restaurant-person.jpg?w=940&h=650&auto=compress&cs=tinysrgb');
}

.slider-item:nth-of-type(2){
  background-image: url('https://images.pexels.com/photos/5876/food-salad-healthy-vegetables.jpg?w=940&h=650&auto=compress&cs=tinysrgb');
}

.slider-item:nth-of-type(3){
  background-image: url('https://images.pexels.com/photos/8313/food-eating-potatoes-beer-8313.jpg?w=940&h=650&auto=compress&cs=tinysrgb');
}