// ==========================================================================
// #Contact Form
// ==========================================================================


.contact-form {
	padding-top: 45px;

	@include media-query-min(medium) {
		max-width: 70%;
		margin: 0 auto;
	}

	@include media-query-min(medium) {
		& li:first-child {
			margin-right: 12px;
		}

		& li:first-child,
		& li:nth-child(2) {
			width: calc(50% - 6px);
			float: left;
		}
	}

	& input,
	& textarea {
		border: 2px solid #ededed;
		font-size: 13px;
		line-height: 31px;
		color: rgb(110,110,110);
		width: 100%;
   		margin-bottom: 1.2rem;
		padding: .5rem 1rem;

		// &::placeholder {
		// 	text-transform: uppercase;
		// }
	}

	& textarea {
		margin-bottom: 1.5rem;
	}


}

.wpcf7-mail-sent-ng, 
.wpcf7-aborted,
.wpcf7-response-output{
	border: none!important;
	text-align: center!important;
}