// ==========================================================================
// #Project Card
// ==========================================================================
.project-card:hover .work-all__overlay {
    opacity: 1;
        z-index: 6000;
}
.project-card:hover .work-all__btn-case-study {
    transform: scale(1);
    opacity: 1;
}

.work-all__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
}

.work-all__btn-case-study {
    text-align: center;
    width: 40%;
    color: #FFF;
    background: #f2a538;
    margin: 0 auto;
    padding: 9px 12px;
    border-radius: 5px;
    font-size: 13px;
    transform: scale(0.8);
    @include transition(all 0.3s ease-in-out);
}

.project-card {	
	position: relative;
	&--wrap {
		@include clearfix;
	}

	width: 100%;
	border-top: 6px solid $color-brand;
	margin-bottom: 1rem;
	width: 100%;

	@include media-query-min(tablet) {
		width: calc(50% - 20px);
		float: left;
		margin-right: 40px;

		&:nth-child(2n) {
			margin-right: 0;
		}
	}

	@include media-query-min(medium) {
		width: calc(33% - 20px);
		margin-right: 35px;

		&:nth-child(2n) {
			margin-right: 35px;
		}

		&:nth-child(3n) {
			margin-right: 0;
		}
	}

	&__img {
		position: relative;
		height: 195px;
		overflow: hidden;
		background-position: center center;
    	background-size: cover;
	}

	&__header {
		background-color: #212121;
	}

	&__title {
		font-size: 14px;
		letter-spacing: 1px;
		line-height: 41px;
		color: rgb(255,255,255);
		font-family: sans-serif;
		font-weight: bold;
		text-align: center;
	}

	&__section {
		padding: 1rem 0 1.5rem;
		
		& p {
			margin: 0;
		}
	}

	&__footer {
		text-align: center;
	}

}