// ==========================================================================
// #Project Card
// ==========================================================================



.service-card {	
	@include clearfix;
	margin-bottom: 25px;
		

	@include media-query-min(tablet) {
		&:nth-child(2n) .service-card__text {
			float: right;
		}

		&:nth-child(2n) .service-card__img {
			float: left;
			margin-right: 15px;
			margin-left: unset;
		}	
	}

	&__text {
		@include media-query-min(tablet) {
			width: 60%;
			float: left;
		}
		 
	}

	&__img {
		float: right;
	   	width: 100%;
	    height: 311px;
	    margin-left: 15px;
	    background-size: cover;
	    background-position: center center;

	    @include media-query-min(tablet) {
	    	width: calc(40% - 15px);
	    	&:nth-child(2n){
	    		float: right;
	    	}
		}
	}

}