// ==========================================================================
// #Gallery
// ==========================================================================

%gallery-col {
	float: left;
}

.gallery {

	&__img {
		background-size: cover;
		background-position: center center;
		height: 622px;
	}

	&__row {
		@include clearfix;
		margin-bottom: 30px;
	}

	&__col {
		&--1-2 {
			@extend %gallery-col;

			&:nth-child(1n) {
				width: calc(33% - 17px);
    			margin-right: 30px;
  			}
			&:nth-child(2n) {
				width: calc(66% - 17px);
				margin-right: 0;
			}
		}

		&--2-1 {
			@extend %gallery-col;

			&:nth-child(1n) {
				width: calc(66% - 17px);
    			margin-right: 30px;
  			}
			&:nth-child(2n) {
				width: calc(33% - 17px);
				margin-right: 0;
			}
		}

		&--50-50 {
			@extend %gallery-col;
			width: calc(50% - 17px);
    		margin-right: 30px;
  
			&:nth-child(2n) {
				margin-right: 0;
			}

			& .gallery__img {
				height: 450px;
			}
		}

		&--100 {
			@extend %gallery-col;
			width: 100%;
		}

		&--3 {
			@extend %gallery-col;
			width: calc(33% - 17px);
    		margin-right: 30px;
  
			&:nth-child(3n) {
				margin-right: 0;
			}
		}

	}

}