// ==========================================================================
// #Buttons
// ==========================================================================

.btn {
	line-height: 15px;
    font-size: 10px;

	display: inline-block;
	background: none;
	@include transition(.25s ease-in-out);
    font-size: .9rem;
	padding: .6rem 1.75rem;
    font-weight: bold;
    color: #4a4a4a;
    cursor: pointer;
    border: none;
    line-height: 1em;

    &--alt {
    	color: white;

    	&:hover {
    		background: rgba(255, 255, 255, 0.2);
    	}
    }

	&--primary {
		border: 3px solid $color-brand;
	}

	&--secondary {
		line-height: 15px;
    	font-size: 10px;

		background: $color-brand;
		color: white;
 
	    letter-spacing: 1px;
 
	    @include media-query-min(tablet) {
    		font-size: 13px;
			line-height: 21px;
    	}
	}

	// Button Sizes
	&--small {

	}

	&--med {

	}

	&--large {
		font-size: 1rem;
		padding: 1.2rem 2rem;
	}

	&--let-spac {
		letter-spacing: 7px;
	}

	&--contact {
		line-height: 15px;
    	font-size: 10px;
    	letter-spacing: 1px;
    	@include media-query-min(tablet) {
    		font-size: 13px;
			line-height: 21px;
    	}
		background-color: #858585;
		
		color: rgb(255,255,255);
		text-align: center;
	}

}