// ==========================================================================
// #Breakpoints
// ==========================================================================

$breakpoints: (
	mobile-s: 20em,
	mobile: 30em,
  	tablet: 48em,
  	medium: 62em,
	laptop: 75em,
	desktop-xxx: 160em,
);