// ==========================================================================
// #Color
// ==========================================================================


// Named
// ==========================================================================
	$orange: #f2cb13;


// Specifics
// =============================================================================
	$color-brand: $orange;



// Base
// =============================================================================
	
	$color-global-text: #222;
	$color-global-background: #e9e9e9;

	$color-link: white;
	$color-link-hover: darken($color-link, 25%);