// ==========================================================================
// #Layout Global
// ==========================================================================
//
//  Table of Content
//  
//  - Containers
//  - Row
//  -

%container {
    max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;

    &--fluid {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    &--small {
        max-width: 760px;
    }

    &--narrow {
        margin: 0 30%;
    }

    &--wider {
        max-width: 1240px;
    }
}

.container {
    @extend %container;
}
.section {
    @include clearfix;
 
    &--main {
        @include clearfix;
        background-color: white;
        padding: 55px 40px; 
    }
}
 

 .row {
    @include clearfix;
 }

