// ==========================================================================
// #Site Social Icons
// ==========================================================================


.site-social-icons {
    float: right;

    &__item {
        display: inline-block;
        padding-top: 10px;
        margin-right: 8px;
    }
}