// ==========================================================================
// #Site Header
// ==========================================================================


.site-header {
    @include clearfix;
    background-color: #222222;
    @include transition(0.25s ease-in-out);
    z-index: 9999;
    @include fixed(top 0 right 0 left 0);

    &.is-sticky {
        @include transform(translateY(-120%));
        top: 0;
        background: #262626;
        -webkit-box-shadow: 0 0 5px 2px rgba(51, 51, 51, 0.3);
        box-shadow: 0 0 5px 2px rgba(51, 51, 51, 0.3);

        & .site-header__inner {
            line-height: 4em;
        }
    }

    &.sticky-show {
        @include transform(translateY(0));

    
    }



    & a {
        color: white;
    }

    &__nexus {
        background: #222222;
        margin: 0 auto;
    }

    &__outer {
       @extend %container;
    }

    &__inner {
        display: inline-flex;
        width: 100%;
        background: #222222;
        line-height: 6em;
         @include transition(0.25s ease-in-out);

        @include media-query-min(medium) {
            padding: 0 15px;
        }
    }

    &__head {
    	@include clearfix;
        display: list-item;
    	@include media-query-max(medium) {
    		width: 100%;
    	}
    }

    &__logo {
    	float: left;

    	&--img {
    		width: 155px;
            vertical-align: middle;
    	}
    }

    &__hamburger {
    	float: right;

    	@include media-query-min(medium) {
    		display: none;
    	}
    }

     &__hamburger {
        @include absolute(top 0 right 0 bottom 0);
        width: 34px;
        height: 28px;
        border: 0;
        background: none;
        z-index: 9950;

        @include media-query-max(medium) {
            display: inline-block;
            margin-left: .8rem;
            height: auto;
            display: inline-block;
            line-height: 14px;
        }

        &:hover .site-header__hamburger--bar:nth-child(2) {
            width: 100%;
        }

         &.is-active--wide .site-header__hamburger--bar {
            @include media-query-max(medium) {
                transition: background 300ms 0s ease,transform 300ms 0s ease, top 300ms .2s ease, bottom 300ms .2s ease;
                &:first-child {
                   top: 6px;
                    @include transform(rotate(45deg));
                    transition: background 300ms 0s ease,transform 300ms 0.2s ease, top 300ms 0s ease, bottom 300ms 0s ease;
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    bottom: 6px;
                    @include transform(rotate(-45deg));
                    transition: background 300ms 0s ease,transform 300ms 0.2s ease, top 300ms 0s ease, bottom 300ms 0s ease;
                }
            }
        }

        &.is-active .site-header__hamburger--bar {
            transition: background 300ms 0s ease,transform 300ms 0s ease, top 300ms .2s ease, bottom 300ms .2s ease;
            &:first-child {
               top: 6px;
                @include transform(rotate(45deg));
                transition: background 300ms 0s ease,transform 300ms 0.2s ease, top 300ms 0s ease, bottom 300ms 0s ease;
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                bottom: 6px;
                @include transform(rotate(-45deg));
                transition: background 300ms 0s ease,transform 300ms 0.2s ease, top 300ms 0s ease, bottom 300ms 0s ease;
            }
        }


    }

    &__hamburger-bars {
        position: relative;
        width: 100%;
        height: 14px;
        text-align: right;
    }

    &__hamburger--bar {
        display: block;

        width: 100%;
        height: 2px;

        transition: background 300ms 0s ease,transform 300ms 0s ease, top 300ms .2s ease, bottom 300ms .2s ease;
        -webkit-animation: open-in .3s cubic-bezier(.18,.89,.67,1.16) .3s 1 normal forwards;
                animation: open-in .3s cubic-bezier(.18,.89,.67,1.16) .3s 1 normal forwards;

        background-color: $color-brand;;
        @include absolute(right);
        @include border-radius(2px);
        @include transition(all .2s);
        
        &:first-child {
            top: 0;
        }
        &:nth-child(2) {
            top: 6px;
            width: 77%;
        }
        &:nth-child(3) {
            bottom: 0;
        }

    }

}




