// ==========================================================================
// #Site Nav Mobile
// ==========================================================================


.site-nav-mobile {
	position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #2d2d2d;
    color: #666666;
    display: block;
    z-index: 30;
    transition: right 0.3s;
    overflow-y: scroll;

    & li {
        display: block;
    }

    & a {
        color: #aaa;
        font-weight: 600;
        font-size: 13px;
        line-height: 50px;
        height: 50px;
        display: block;
        position: relative;
        font-family: "Raleway" , sans-serif;
        border-bottom: 1px solid #333;
        padding: 0 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: #fff;
            background-color: #2d2d2d;
        }
    }

    &.is-active {
    	right: 0;
    }

    &__dropdown-list {

        & a {
            color: #888;
            font-size: 11px;
            line-height: 45px;
            font-family: "Raleway", sans-serif;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 600;
            padding: 0 20px 0 40px;
            border-bottom: 1px solid #333;
            display: block;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        & li {
            position: relative;
        }

        & li:before {
            content: "";
            display: inline-block;
            width: 8px;
            left: 20px;
            height: 1px;
            background: #aaa;
            top: 45%;
            position: absolute;
        }
    }
}