// ==========================================================================
// #Mixins: Typography
// ==========================================================================
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
//@import '~fonts/futura/font-futura.css';


@font-face{
    src: url(./../fonts/futura/futuraLT.ttf);
    font-family: Futura;
    font-weight: 500;
}

@font-face{
    src: url(./../fonts/futura/futuraLT-Bold.ttf);
    font-family: Futura;
    font-weight: bold;
}

@font-face{
    src: url(./../fonts/futura/futuraLT-Heavy.ttf);
    font-family: Futura;
    font-weight: 900;
}
 

$font-family-open-sans: 'Open Sans', sans-serif;
$font-family-futura: 'Futura';

$font-family-primary: $font-family-futura;
$font-family-secondary: $font-family-open-sans;

$base-font-family: $font-family-primary, $font-family-secondary;


$base-scale: 1.5;
$base-unit: 'em';
$base-font-size: 16px;

$base-line-height: $base-scale * $base-font-size;
 

// $h1-font-size: 2.7 * $base-font-size;
// $h2-font-size: 1.25 * $base-font-size;
// $h3-font-size: 1.15 * $base-font-size;
 

// Font Size
// -------------
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// Text overflow
// -------------
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// $font-path: "../../fonts/futura" !default;
// @font-face{
//   src: url('#{$font-path}/futura.ttf');
//    ...
// }